<!-- Toast Container -->
<div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 100;">

    <% if(success && success.length> 0) { %>
        
        <% success.forEach(msg=> { %>

            <div class="toast-message success" data-toast>

                <i class="fa-regular fa-circle-check toast-success-icon"></i>
                <%= msg %>
                <i class="fa-solid fa-xmark toast-cross" data-close></i>

            </div>
            <% }) %>
        <% } %>


        <% if(error && error.length> 0) { %>
            
            <% error.forEach(msg=> { %>
                            
                <div class="toast-message error" data-toast>
                
                    <i class="fa-solid fa-triangle-exclamation toast-error-icon"></i>
                    <%= msg %>
                    <i class="fa-solid fa-xmark toast-cross" data-close></i>
                
                </div>
            <% }) %>
        <% } %>

</div>
