<footer>

    <div class="f-info-brand">
        &copy; WanderLust Private Limited 2025
    </div>
    <div class="flex flex-col gap-[12px] sm:flex-row items-center sm:gap-[3vw]">
        <div class="f-info-link">
            <i class="fa-brands fa-square-facebook text-[1.2rem]"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="f-info-terms">
            <a href="/privacy">Privacy & Terms</a>
        </div>
    </div>
</footer>