<% let _hideNavbarMenu=(typeof hideNavbarMenu !=="undefined" ) ? hideNavbarMenu : false; 

if(_hideNavbarMenu){ %>

    <nav>
        <div class="flex gap-3 items-center mr-4">
            <a href="/listings">
                <i class="fa-regular fa-compass text-3xl text-[#FF385C]"></i>
            </a>
            <a href="/listings" class="text-[#FF385C] font-semibold">WanderLust</a>
        </div>
    </nav>

<% } else { %>

        <nav>
            <div class="flex gap-3 items-center mr-4">
                <a href="/listings">
                    <i class="fa-regular fa-compass text-3xl text-[#FF385C]"></i>
                </a>
                <a href="/listings" class="text-[#FF385C] font-semibold">WanderLust</a>
            </div>

            <a href="/listings" class="nav-links">Explore Listings</a>
            <a href="/listings/new" class="nav-links">Add a new Listing</a>

            <div class="navbar-right">
                <% if(currentUser) {%>

                    <a href="/logout" class="nav-links">Logout</a>
                <% } %>
                
                <% if(!currentUser) { %>

                    <a href="/signup" class="nav-links">Sign Up</a>
                    <a href="/login" class="nav-links">Login</a>

                <% } %>
            </div>
        </nav>

<% } %>