<nav>
    <a href="/listings">
        <i class="fa-regular fa-compass text-3xl text-[#FF385C]"></i>
    </a>
    <a href="/">Home</a>
    <a href="/listings">All Listing</a>
    <a href="/listings/new">Add a new Listing</a>
</nav>