<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <h1> WanderLust </h1>

        <form method="get" action="/listings/new">
            <button>Add a new Listing </button>
        </form>
        <br>

        <% for (let item of listings) { %>
            
            <ul>
                <li>
                    <a href="/listings/<%= item._id %>">
                        <%= item.title %>
                    </a>
                </li>
            </ul>
        <% } %>
    
</body>

</html>