<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a new Listing </h1>

    <form method="post" action="/listings" enctype="multipart/form-data">

        <input type="text" placeholder="Enter title" name="title" /> <br><br>

        <textarea placeholder="Enter description" name="description"></textarea> <br><br>

        <input  placeholder="Enter price" name="price" type="number" /> <br><br>

        <input type="text" placeholder="Enter location" name="location" /> <br><br>

        <input type="text" placeholder="Enter country" name="country" /> <br><br>

        <h3> Add an Image </h3>
        <input type="file" name="imageFile"> &nbsp;
        <input type="url" name="imageUrl" placeholder="Enter image url">

        <br>
        <br>

        <button type="submit">Add</button>
    </form>
</body>


</html>