<% layout("./layouts/boilerplate") %>

    <div class="not-found-container">
        <div class="not-found-status">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>

        <div>
            <div class="not-found-title">
                This wasn't in the script...
            </div>
            <div class="not-found-text">
                <%= message %>
            </div>

            <a href="/listings">
                <button class="not-found-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Browse Listings
                </button>
            </a>

        </div>

    </div>