<% layout("./layouts/boilerplate") %>

    <div class="not-found-container">
        <div class="not-found-status">
            404
        </div>

        <div>
            <div class="not-found-title">
                Oops! Page Not Found !
            </div>
            <div class="not-found-text">
                It looks like the page you're looking for doesn't exist or has been moved. Let's get you back on
                track!
            </div>

            <a href="/listings">
                <button class="not-found-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Browse Listings
                </button>
            </a>

        </div>

    </div>