body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* NAVBAR */

nav {
  padding: 24px 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px -2px slategray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  color: #222;
  position: sticky;
  top: 0;



  @media (max-width: 640px) {}

  @media (min-width: 641px) and (max-width: 1024px) {
    font-size: 18px;

  }

  @media (min-width: 1025px) {
    font-size: 18px;
  }

}

.nav-links {
  font-size: 15px;
  font-weight: 600;
}

nav a:hover {
  color: #FF385C;
  cursor: pointer;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 2rem;
}

/* FOOTER */

footer {
  padding: 24px 7vw 24px 5vw;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #222;
  font-size: 14px;
  gap: 10px;
  text-align: center;
  width: 100%;

  @media (width >=40rem

    /* 768px */
  ) {
    flex-direction: row;
  }
}

.f-info-terms>a:hover {
  text-decoration: underline;
}

.f-info-link {
  font-size: 1.2rem;
  cursor: pointer;
  color: #222;
}

/* HOME */

.home-container {
  padding: 28px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  align-items: flex-start;
}

.listings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: center;
  max-width: 80vw;
  /*   
  @media (width >=40rem) {
    max-width: calc(3 * 18rem + 32px); 
  }

  @media (width >=48rem) {
   max-width: calc(3 * 18rem + 32px); 
  }

  @media (width >=64rem) {
    max-width: calc(3 * 18rem + 32px); 
  }

  @media (width >=80rem) {
    max-width: calc(3 * 18rem + 32px); 
  }

  @media (width >=96rem) {
    max-width: calc(3 * 18rem + 32px); 
  } */


}

.heading {
  font-size: 18px;
  color: #222;
  font-weight: 600;
}


.card-container {
  height: 20rem;
  width: 18rem;
  cursor: pointer;
}

.card-img {
  width: stretch;
  height: 16rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.card-heading {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.card-text {
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
}

.card-container:hover .card-heading {
  text-decoration: underline;
}

.card-container:hover img {
  box-shadow: 2px 4px 10px #222;
  transition: box-shadow 0.2s ease-in-out;
}

.card-container img {
  transition: box-shadow 0.2s ease-in-out;
}

/*


listing ko center 


*/

/* NEW LISTING AND EDIT LISTINGS STYLES */

.form-container {
  background-color: #f7f7f7;
  padding: 32px;
  display: flex;
  justify-items: center;
  height: 100%;
}


.listing-form {
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  height: max-content;
  border-radius: 12px;
  width: 80vw;
  max-width: 700px;
  margin: 0 auto;
}

.form-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #222;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-buttons {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #222;
}

.form-input {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: #f7f7f7;
  font-size: 14px;
  resize: none;
}


.form-input:focus,
.form-input:active {
  border-color: #FF385C;
  /* Primary color */
  box-shadow: 0 0 4px rgba(255, 56, 92, 0.6);
  /* Soft pink glow */
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.divider {
  display: flex;
  align-items: center;

}

.divider>hr {
  color: #ededed;
  width: 100%;

}

.divider-text {
  font-size: 12px;
  color: #737373;
  padding: 0px 8px;
}

.preview-image {
  width: stretch;
  border-radius: 10px;
}

.submit-button {
  font-size: 14px;
  color: #fff;
  background-color: #FF385C;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  flex: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.discard-button {
  font-size: 14px;
  color: #222;
  background-color: #f7f7ff;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  border: 1px solid #ebebeb;
  flex: 1;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #e73052;
  /* Slightly darker red */
  color: #fff;
  outline: none;
}

.discard-button:hover,
.discard-button:focus {
  background-color: rgb(207, 207, 207);
  /* Slightly darker light blue */
  border-color: #cccccc;
  color: #222;
  outline: none;
}

.listing-info {
  background-color: #f7f7f7;
}

.listing-info-container {
  margin: 0 auto;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;



  @media (width >=40rem) {
    width: 100vw;
  }

  @media (width >=48rem) {
    width: 80vw;
  }

  @media (width >=64rem) {
    width: max-content;
    max-width: 70vw;
  }

  @media (width >=80rem) {
    width: max-content;
    max-width: 60vw;
  }

  @media (width >=96rem) {
    width: max-content;
    max-width: 60vw;
  }

}


.listing-info-img {
  height: 50vh;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.listing-info-img img {
  object-fit: cover;
}


.listing-info-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;

  @media (width >=64rem) {
    flex-direction: row;
  }

  @media (width >=80rem) {
    flex-direction: row;
  }

  @media (width >=96rem) {
    flex-direction: row;
  }
}


.listing-info-heading {
  font-weight: 600;
  font-size: 30px;
  color: #222;
}

.listing-info-desc {
  font-weight: 600;
  font-size: 20px;
  color: #222;
  line-height: 150%;
  margin-top: 24px;
}

.listing-info-desc-text {
  font-size: 16px;
  color: #737373;
  line-height: 150%;
  margin-top: 8px;
}

.listing-info-location-text {
  font-size: 16px;
  color: #737373;
  line-height: 150%;
  margin-top: 4px;
}

.listing-info-right {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid hsl(0 0% 89.8%);
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 300px;
  height: max-content;

}

.listing-info-right-price {
  font-weight: 600;
  font-size: 30px;
  color: #222;
}

.listing-info-right-price-text {
  font-size: 16px;
  color: #737373;
}


.listing-owner-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.listed-by {
  color: #737373
}

.listed-by-name {
  color: #222;
  font-weight: 500;
}


label.error {
  color: #FF385C;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
}

.not-found-container {
  flex: 1;
  height: 100%;
  min-height: 100%;
  background-color: #f7f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}

.not-found-status {
  font-weight: 800;
  font-size: 150px;
  color: #FF3B58;
  line-height: 100%;
  opacity: 50%;
}

.not-found-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1rem;

}

.not-found-text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #737373;
  margin-bottom: 32px;
}

.not-found-button {
  border-radius: 12px;
  border: 1px solid #ebebeb;
  padding: 12px 16px;
  font-size: 14px;
  color: #222;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 400;
  transition: 0.3s background-color ease, 0.3s color ease;
}

.not-found-button:hover {
  color: #fff;
  background-color: #FF3B58;
}


/* Review Form */
.review-form-container {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-form-heading {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.review-form-label {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
}


/* Stars Container */
.stars-container {
  display: flex;
  gap: 6px;
}

.stars-container i {
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.15s ease;
  color: #ff385c;
}

.stars-container i:hover {
  transform: scale(1.1);
  color: #ff385c;
}

/* Reviews */

.delete-button {
  font-size: 14px;
  color: #737373;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}

.discard-button {
  font-size: 14px;
  color: #222;
  background-color: #f7f7ff;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  border: 1px solid #ebebeb;
  flex: 1;
  cursor: pointer;
}

.delete-button:hover,
.delete-button:focus {
  color: #e73052;
  /* Slightly darker red */
  outline: none;
}

.review-star-container {
  font-size: 12px;
  color: #737373;
}

.all-review-container {
  padding: 6px 12px;
  background-color: #FF3D5A1A;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
}

.avg-reviews-text {
  font-size: 12px;
  font-weight: 400;
  color: #737373;
}

.avg-reviews-text-value {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.review-star {
  color: #FF385C;
  font-size: 14px;
}

/* Toast Styles */

.toast-cross {
  font-size: 11px;
  color: #6a6a6a;
  margin-left: 12px;
  cursor: pointer;

}

.toast-success-icon {
  font-size: 18px;
  color: #27AE60;
}

.toast-error-icon {
  font-size: 18px;
  color: #FF3B58;
  font-weight: 600;
}

.toast-message {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(106, 106, 106, 0.25);

  opacity: 0;
  transform: translateX(40px);
  animation: slideIn 0.45s ease forwards;

}

.toast-message.success {
  border-left: 4px solid #27AE60;
  border-bottom: 4px solid #27AE60;
}

.toast-message.error {
  border-left: 4px solid #FF3B58;
  border-bottom: 4px solid #FF3B58;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Smooth Fade Out */
.toast-hide {
  animation: fadeOut 0.35s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(40px);
  }
}

/* User Login and signup form */

.login-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.login-info-text {

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #222;
}

.login-info-link {

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FF385C;
  cursor: pointer;
}

.login-info-link:hover {
  text-decoration: underline;
  color: #e73052;
}

/* Review Styles */
.review-container {
  display: flex;
  gap: 1rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 0.75rem;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
  cursor: pointer;


  transition-property: "box-shadow";
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

}


.review-container:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.review-container-avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #FF385C;
  background-color: #FF3D5A1A ;
  justify-content: center;
}

.review-container-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.review-container-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.review-container-header-option {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.review-container-name {
  color: #222;
  font-weight: 500;
}

.review-container-comment {
  color: #737373;
}