body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* NAVBAR */

nav {
  padding: 24px 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px -2px slategray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  color: #222;
  position: sticky;
  top: 0;



  @media (max-width: 640px) {

  }

  @media (min-width: 641px) and (max-width: 1024px) {
    font-size: 18px;

  }

  @media (min-width: 1025px) {
    font-size: 18px;
  }

}

.nav-links {
  font-size: 15px;
  font-weight: 600;
}

nav>a:hover {
  color: #FF385C;
  cursor: pointer;
}

footer {
  padding: 24px 7vw 24px 5vw; 
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #222;
  font-size: 14px;
  gap: 10px;
  text-align: center;
  width: 100%;
}

.f-info-terms > a:hover {
  text-decoration: underline;
}

.f-info-link{
  font-size: 1.2rem;
  cursor: pointer;
  color: #222;
}