<section class="pt-6">
    <% for(review of reviews) { %>

        <div class="review-container">

            <div class="review-container-avatar">
                <i class="fa-regular fa-user"></i>
            </div>

            <div class="review-container-content">

                <div class="review-container-header">
                   
                    <div class="review-container-name">
                        <%= review.author.username %>
                    </div>

                    <div class="review-container-header-option">
                        <div class="review-star-container">

                            <% const solid=review.rating; const empty=5 - solid; %>

                                <% for(let i=0; i < solid; i++) { %>
                                    <i class="fa-solid fa-star" style="color: #FF385C;"></i>
                                    <% } %>

                                <% for(let i=0; i < empty; i++) { %>
                                    <i class="fa-solid fa-star"></i>
                                <% } %>

                        </div>

                        <div class="ml-4">
                            <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
                                <form method="post"
                                    action="/listings/<%= listingId %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button>
                                        <i class="fa-solid fa-trash cursor-pointer delete-button"></i>
                                    </button>
                                </form>
                                <% } %>
                        </div>
                    </div>

                </div>

                <div class="review-container-comment">
                    <i>
                        <%= review.comment %>
                    </i>
                </div>

            </div>

        </div>
    <% } %>
</section>